<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/files/bootstrap.css" />
  <link rel="stylesheet" href="/files/materialdesignicons.min.css" />
  <link rel="stylesheet" href="/files/style.css" />
  <script src="/files/vue.js"></script>
  <script src="/files/axios.js"></script>
  <script src="/files/moment.js"></script>
  <script src="/files/date.format.js"></script>


  <script src="/files/socket.io.dev.js"></script>

  <script type="text/javascript">
    function WebSocketTest() {
      if ('WebSocket' in window) {
        alert('WebSocket is supported by your Browser!');

        // Let us open a web socket
        var ws = new WebSocket('ws://localhost:3000/wss');

        ws.onopen = function () {
          // Web Socket is connected, send data using send()
          ws.send('Message to send');
          alert('Message is sent...');
        };

        ws.onmessage = function (evt) {
          var received_msg = evt.data;
          alert('Message is received...');
        };

        ws.onclose = function () {
          // websocket is closed.
          alert('Connection is closed...');
        };
      } else {
        // The browser doesn't support WebSocket
        alert('WebSocket NOT supported by your Browser!');
      }
    }

  </script>

  <title>Student Attendance Monitor</title>
</head>

<body>
  <div id="app" :class="{ opaq : isLoading }">


    <div v-if="isLoading" class="text-center" style="position: absolute; left: 50%; top: 50%; z-index: 1;">
      <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>



    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">


        <div class="row w-100">
          <div class="col-12 d-flex">

            <div>
              <a class="navbar-brand" href="#">RFID Scanner</a>
            </div>
            <div class="mr-auto p-2">

            </div>
            <div class="ml-auto" v-if="loggedIn">
              <button type="button" class="btn btn-secondary" @click="setPage('users')">
                Users
              </button>
              <button type="button" class="btn btn-secondary" @click="setPage('register')">
                Register
              </button>
              <button type="button" class="btn btn-secondary" @click="setPage('classes')">
                Classes
              </button>
              <button type="button" class="btn btn-secondary" @click="setPage('logs')">
                Logs
              </button>

              <button type="button" class="btn btn-info" @click="authLogout">
                Logout
              </button>
            </div>


          </div>
          <div class="col-12" v-if="rfidTest">

            <form class="form-inline mt-3" @submit.prevent="simulateRfid">
              <div class="form-group mb-2">
                <label for="add-subject" class="sr-only">RfidTag</label>
                <input v-model="rfidTap.id" type="text" class="form-control" id="add-subject" maxlength="8"
                  placeholder="RFID Tag (eg. qwe123as)">
              </div>
              <div class="form-group mx-2 mb-2">
                <label for="add-room" class="sr-only">Class Room</label>
                <input v-model="rfidTap.room" type="text" class="form-control" id="add-room"
                  placeholder="Room (eg. Room 1)">
              </div>
              <div class="form-group mx-2 mb-2">
                <label for="add-time-in" class="sr-only">Time</label>
                <input v-model="rfidTap.time" maxlength="8" type="text" class="form-control" id="add-time-in"
                  placeholder="Time (eg. 14:20:15)">
              </div>


              <button type="submit" class="btn btn-primary mb-2">Simulate RFID Tap</button>

            </form>
            <button class="ml-3 btn btn-primary mb-2" @click="clearAttendance">Clear Attendance</button>
          </div>
        </div>





      </div>

    </nav>
    <div class="container bg-dark text-light py-2">
      <div class="row">
        <div class="col-6">Current Time: {{ formattedTime }}</div>
        <div class="col-2">{{ currentTag }}</div>
        <div class="col-4 text-right">Status: <span class="mdi"
            :class="{ 'mdi-alert-circle-outline' : !websocketsConnected, 'mdi-checkbox-marked-circle' : websocketsConnected }"></span>
          {{ websocketsConnected ? 'Connected' : 'Disconnected'}}</div>
      </div>


    </div>

    <div class="container">
      <div v-if="loggedIn">
        <div v-if="page === 'users'">



          <div v-if="canEditUser">
            <div class="row">
              <div class="col-6">
                <h1>User Data</h1>
              </div>
              <div class="col-6 pt-2 text-right">




                <div v-if="editUserMode">

                  <button type="button" class="btn btn-danger" @click="editUserMode = false"><span
                      class="mdi mdi-cancel"></span> Cancel</button>
                  <button type="button" class="btn btn-success" @click="saveUserData"><span
                      class="mdi mdi-content-save"></span> Save</button>

                </div>

                <div v-else>

                  <button type="button" class="btn btn-primary" @click="editUserMode = true"><span
                      class="mdi mdi-square-edit-outline"></span> Edit Info</button>
                  <button type="button" class="btn btn-warning" @click="editRfidMode = true"><span
                      class="mdi mdi-square-edit-outline"></span> Update RFID</button>
                </div>



              </div>
            </div>


            <form>
              <div class="row">
                <div class="col-6 text-center">
                  <img class="user-image" :src="currentUser.imageSrc" class="rounded" alt="..." />

                  <input type="file" accept="image/*" id="user-image" name="image" ref="file"
                    @change="handleFileUpload2(event)" id="image" style="display: none;">
                  <br />
                  <input class="mt-2 btn btn-info" type="button" value="Change Image"
                    onclick="document.getElementById('user-image').click();" />

                  <div class="row mt-2">
                    <div class="col-6 text-center">
                      <div class="form-group">
                        <label for="rfidTag">RFID Tag</label>
                        <input type="text" class="form-control" id="rfidTag" placeholder="RFID Tag ID"
                          v-model="currentUser.rfidTag" readonly :class="{ 'rfid-border' : editRfidMode }" />
                      </div>
                    </div>
                    <div class="col-6 text-center">
                      <div class="form-group">
                        <label for="userId">Student ID</label>
                        <input type="text" class="form-control" id="userId" placeholder="User ID Number"
                          v-model="currentUser.userId" readonly />
                      </div>
                    </div>
                  </div>


                  <div class="form-group">
                    <label for="userType">User Type</label>
                    <select class="form-control" id="userType" v-model="currentUser.userType"
                      :disabled="!editUserMode" />>
                    <option value="">Student or Instructor?</option>
                    <option value="student">Student</option>
                    <option value="instructor">Instructor</option>
                    </select>
                  </div>

                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First Name"
                      v-model="currentUser.firstName" :readonly="!editUserMode" />
                  </div>


                  <div class="form-group">
                    <label for="middleName">Middle Name</label>
                    <input type="text" class="form-control" id="middleName" placeholder="Middle Name"
                      v-model="currentUser.middleName" :readonly="!editUserMode" />
                  </div>


                  <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                      v-model="currentUser.lastName" :readonly="!editUserMode" />
                  </div>


                  <div class="form-group">
                    <label for="course">Course</label>
                    <input type="text" class="form-control" id="course" placeholder="Course (eg. BSECE-4)"
                      v-model="currentUser.course" :readonly="!editUserMode" />
                  </div>

                  <div class="form-group">
                    <label for="guardianName">Parent/Guardian Name</label>
                    <input type="text" class="form-control" id="guardianName" placeholder="Parent / Guardian Name"
                      v-model="currentUser.guardianName" :readonly="!editUserMode" />
                  </div>
                  <div class="form-group">
                    <label for="guardianNumber">Parent/Guardian Number</label>
                    <input type="text" class="form-control" id="guardianNumber" placeholder="Parent / Guardian Number"
                      v-model="currentUser.guardianNumber" :readonly="!editUserMode" />
                  </div>

                </div>
              </div>

            </form>


            <div class="container border-top pt-3">
              <div class="row">
                <div class="col-6">
                  <h4>Add Subjects</h4>
                </div>
                <div class="col-6 pt-2 text-right">


                  <button type="button" class="btn btn-success" @click="saveSubjects"><span
                      class="mdi mdi-content-save"></span> Save Subjects</button>


                </div>
              </div>

              <div class="row">

                <div v-for="(item, i) in subjects" :key="i" class="col-6">
                  <label class="checkbox-inline"><input type="checkbox" :value="item.id" v-model="currentUser.subjects">
                    {{ item.name }} ({{ item.room }} {{ item.timeStart }}-{{ item.timeEnd }})</label>
                </div>
              </div>

            </div>

          </div>



          <div class="container border-top pt-3">
            <div class="form-group row">
              <label for="userSearch" class="col-sm-2 col-form-label">User Search</label>
              <div class="col-sm-10">
                <input type="text" v-model="userQuery" @keyup="userSearch" class="form-control" id="userSearch"
                  placeholder="Enter any data (id, name, number, tag, etc)">
              </div>
            </div>


            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">User Id</th>
                  <th scope="col">RFID Tag</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Middle Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Course</th>
                  <th scope="col">PG Name</th>
                  <th scope="col">PG Number</th>


                </tr>
              </thead>
              <tbody>
                <tr style="cursor: pointer;" v-for="(user, i) in foundUsers" :key="i" @click="setCurrentUser(i)">
                  <td scope="col">{{user.id}}</td>
                  <td scope="col">{{user.rfidTag}}</td>
                  <td scope="col">{{user.firstName}}</td>
                  <td scope="col">{{user.middleName}}</td>
                  <td scope="col">{{user.lastName}}</td>
                  <td scope="col">{{user.course}}</td>
                  <td scope="col">{{user.guardianName}}</td>
                  <td scope="col">{{user.guardianNumber}}</td>

                </tr>
              </tbody>
            </table>


          </div>

        </div>

        <div v-if="page === 'register'">
          <div class="row">
            <div class="col-6">
              <h1>Register User</h1>
            </div>

          </div>



          <form @submit.prevent="validateRegister">
            <div class="row">
              <div class="col-6 text-center">

                <img class="user-image" :src="newUser.imageSrc" class="rounded" alt="..." />



                <input type="file" accept="image/*" id="user-image" name="image" ref="file"
                  @change="handleFileUpload(event)" id="image" style="display: none;">
                <br />
                <input class="mt-2 btn btn-info" type="button" value="Change Image"
                  onclick="document.getElementById('user-image').click();" />



                <div class="row mt-2">
                  <div class="col-6 text-center">
                    <div class="form-group">
                      <label for="rfidTag">RFID Tag</label>
                      <input type="text" class="form-control" id="rfidTag" placeholder="RFID Tag ID"
                        v-model="newUser.rfidTag" readonly :class="{ 'rfid-border' : editRfidMode }" />
                    </div>
                  </div>
                  <div class="col-6 text-center">
                    <div class="form-group">
                      <label for="userId">Student ID</label>
                      <input type="text" class="form-control" id="userId" placeholder="User ID Number"
                        v-model="newUser.userId" />
                    </div>
                  </div>
                </div>


                <div class="form-group">
                  <label for="userType">User Type</label>
                  <select class="form-control" id="userType" v-model="newUser.userType" />>
                  <option value="">Student or Instructor?</option>
                  <option value="student">Student</option>
                  <option value="instructor">Instructor</option>
                  </select>
                </div>

              </div>

              <div class="col-6">
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text" class="form-control" id="firstName" placeholder="First Name"
                    v-model="newUser.firstName" />
                </div>


                <div class="form-group">
                  <label for="middleName">Middle Name</label>
                  <input type="text" class="form-control" id="middleName" placeholder="Middle Name"
                    v-model="newUser.middleName" />
                </div>


                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                    v-model="newUser.lastName" />
                </div>


                <div class="form-group">
                  <label for="course">Course</label>
                  <input type="text" class="form-control" id="course" placeholder="Course (eg. BSECE-4)"
                    v-model="newUser.course" />
                </div>

                <div class="form-group">
                  <label for="guardianName">Parent/Guardian Name</label>
                  <input type="text" class="form-control" id="guardianName" placeholder="Parent / Guardian Name"
                    v-model="newUser.guardianName" />
                </div>
                <div class="form-group">
                  <label for="guardianNumber">Parent/Guardian Number</label>
                  <input type="text" class="form-control" id="guardianNumber" placeholder="Parent / Guardian Number"
                    v-model="newUser.guardianNumber" />
                </div>
                <div class="text-right">

                  <button type="button" type="submit" class="btn btn-primary" @click="validateRegister"><span
                      class="mdi mdi-square-edit-outline"></span> Register</button>



                </div>
              </div>
            </div>

          </form>

          <div class="mt-3" v-if="errors.length > 0">
            <div class="alert alert-danger" role="alert">
              Errors found: <span v-for="(item, i) in errors">{{item}} </span>
            </div>
          </div>



        </div>

        <div v-if="page === 'classes'">
          <h1>Classes</h1>

          <h3 class="text-center">{{currentSubjectList}}</h3>
          <p class="text-center" v-if="currentSubjectList">{{ formattedTime }}</p>
          <div class="mb-5" v-if="listStudentsInSubject">


            <div v-if="currentStudentsInSubject.length > 0">

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">RFID Tag</th>
                    <th scope="col">User Type</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Late?</th>
                    <th scope="col">Status?</th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="cursor: pointer;" v-for="(item, i) in currentStudentsInSubject" :key="i">
                    <td>{{ item.rfidTag}}</td>
                    <td>{{ item.userType}}</td>
                    <td>{{ item.lastName}}</td>
                    <td>{{ item.firstName}}</td>
                    <td>{{ item.isLate}}</td>
                    <td>{{ item.status}}</td>

                  </tr>
                </tbody>
              </table>

            </div>

            <div v-else>
              <h3 class="text-center my-5">There are currently no students enrolled in this subject.</h3>
            </div>


          </div>

          <form class="form-inline mt-3" @submit.prevent="addNewSubject">
            <div class="form-group mb-2">
              <label for="add-subject" class="sr-only">Subject</label>
              <input v-model="newSubject.name" type="text" class="form-control" id="add-subject"
                placeholder="Subject (eg. ECE 101)">
            </div>
            <div class="form-group mx-2 mb-2">
              <label for="add-room" class="sr-only">Room</label>
              <input v-model="newSubject.room" type="text" class="form-control" id="add-room"
                placeholder="Room (eg. Room 1)">
            </div>
            <div class="form-group mx-2 mb-2">
              <label for="add-time-in" class="sr-only">Time In</label>
              <input v-model="newSubject.timeStart" maxlength="5" type="text" class="form-control" id="add-time-in"
                placeholder="Time Start (eg. 14:20)">
            </div>
            <div class="form-group mx-2 mb-2">
              <label for="add-time-out" class="sr-only">Time Out</label>
              <input v-model="newSubject.timeEnd" maxlength="5" type="text" class="form-control" id="add-time-out"
                placeholder="Time End (eg. 20:45)">
            </div>

            <button type="submit" class="btn btn-primary mb-2">Add Subject</button>
          </form>

          <div class="mt-3" v-if="errors.length > 0">
            <div class="alert alert-danger" role="alert">
              Errors found: <span v-for="(item, i) in errors">{{item}} </span>
            </div>
          </div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Subject</th>
                <th scope="col">Room</th>
                <th scope="col">Time Start</th>
                <th scope="col">Time End</th>
              </tr>
            </thead>
            <tbody>
              <tr @click="showStudentInClass(item.id, i)" style="cursor: pointer;" v-for="(item, i) in subjects"
                :key="i">
                <td>{{ item.id}}</td>
                <td>{{ item.name}}</td>
                <td>{{ item.room}}</td>
                <td>{{ item.timeStart}}</td>
                <td>{{ item.timeEnd}}</td>

              </tr>
            </tbody>
          </table>


        </div>
        <div v-if="page === 'logs'">
          <h1>Logs</h1>

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">RFID</th>
                <th scope="col">Classroom</th>
                <th scope="col">Time</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, i) in logs" :key="i">
                <td>{{ item.rfidTag}}</td>
                <td>{{ item.classroom}}</td>
                <td>
                  {{ new Date(Date.parse(item.time)).format('D M j, Y - g:i:sa')
                    }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div v-else>
        <div class="row">
          <div class="col-6 offset-3">
            <form class="mt-5" @submit.prevent="authLogin">
              <div class="form-group">
                <label for="exampleInputEmail1">User Name</label>
                <input v-model="loginEmail" type="text" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp" />

              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input v-model="loginPassword" type="password" class="form-control" id="exampleInputPassword1" />
              </div>

              <button type="submit" class="btn btn-primary">Login</button>

              <div v-if="loginError" class="alert alert-warning mt-3" role="alert">
                Incorrect Login Details
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
    <!-- div main container for content -->

    <footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
      <div class="container text-center">
        <small>Copyright &copy; RFID Student Attendance Monitor System</small>
      </div>
    </footer>



  </div>
  <!-- end of vue div id app -->

  <script>
    var socket = io.connect('http://localhost:3000');

    function rfidStart(msg) {
      console.log('rfid start');
      if (msg.type === 'rfid') {
        vm.currentRfidTag = msg.info;

        if (vm.page === 'logs') {
          vm.isLoading = true;
          setTimeout(() => {
            vm.isLoading = false;
          }, 500);
        }

        vm.logs.unshift({
          rfidTag: msg.info,
          classroom: msg.classroom,
          time: msg.time,
        });
console.log(msg.time);
        if (vm.page === 'users') {


          if (vm.editRfidMode === false) {
            vm.findUserData();
          } else {
            let oldRfid = vm.currentUser.rfidTag;


            // console.log('find user with rfid tag: ' + this.currentRfidTag);
            axios
              .put('/api/user/' + vm.currentUser.rfidTag + '/rfid', {
                old: oldRfid,
                new: msg.info
              })
              .then(response => {
                // const users = response.data.data;
                if (response.data.msg === 'success') {
                  vm.isLoading = true;
                  setTimeout(() => {
                    vm.isLoading = false;
                    vm.currentUser.rfidTag = msg.info;
                    vm.editRfidMode = false;
                  }, 500);

                } else {
                  alert(response.data.msg);
                }
                console.log(response.data);
                // this.logs = response.data.logs;
                // console.log(`GET list users`, response.data.logs);
              })
              .catch(error => console.error(error));

          }
        }

        if (vm.page === 'register') {

          axios
            .get('/api/user/' + msg.info)
            .then(response => {
              // const users = response.data.data;
              if (!response.data) {
                vm.isLoading = true;
                setTimeout(() => {
                  vm.isLoading = false;
                  vm.newUser.rfidTag = msg.info;
                }, 500);
                vm.errors = [];
              } else {
                console.log('No user using this RFID Tag');
                vm.errors = [];
                vm.isLoading = true;
                setTimeout(() => {
                  vm.isLoading = false;
                  vm.errors.push('RFID Tag already in use. Please use another one.');
                }, 500);


              }
              // this.logs = response.data.logs;
              // console.log(`GET list users`, response.data.logs);


              //

            })
            .catch(error => console.error(error));
          //////////////////////////////////////////////////////////\////////////////////////////////////////////////////////

        }

      }
    }

    socket.on('server', (msg) => {

      rfidStart(msg);

    });

    socket.on('rfidTest', (msg) => {

      vm.rfidTest = true;
});

    var vm = new Vue({
      el: '#app',
      data: {
        listStudentsInSubject: false,
        currentSubjectList: '',
        currentStudentsInSubject: [],
        currentUser: {
          subjects: [],
          imageSrc: '',
          image: '',
          contactNumber: '',
          course: '',
          currentActivity: '',
          currentSubject: '',
          email: '',
          firstName: '',
          guardianName: '',
          guardianNumber: '',
          id: '',
          isInSubject: '',
          lastActivity: '',
          lastName: '',
          lastSubject: '',
          middleName: '',
          nickName: '',
          password: '',
          rfidTag: '',
          userId: '',
          userType: '',
        },
        rfidTest: false,
        rfidTap: {
          id: '',
          room: '',
          time: ''
        },
        newUser: {
          imageSrc: '/images/imageDefault.png',
          image: '',
          rfidTag: '',
          userId: '',
          userType: '',
          firstName: '',
          middleName: '',
          lastName: '',
          course: '',
          guardianName: '',
          guardianNumber: '',

        },
        newSubject: {
          name: '',
          room: '',
          timeStart: '',
          timeEnd: '',
        },
        userImage: '',
        userImageUrl: '/images/imageDefault.png',
        errors: [],
        timer: null,
        userQuery: '',
        subjects: [],
        foundUsers: [],
        loginEmail: '',
        loginPassword: '',
        loginError: false,
        isLoading: false,
        editRfidMode: false,
        editUserMode: false,
        loggedIn: false,
        websocketsConnected: false,
        currentRfidTag: '',
        page: 'users',
        logs: [],
        timeNow: Date.now()
      },
      methods: {
        clearAttendance() {



          axios
            .delete('/api/attendance')
            .then(response => {
              // const users = response.data.data;
              // this.currentUser = response.data;
              // this.isLoading = false;
              // alert(response);


            })
            .catch(error => console.error(error));



        },
        simulateRfid() {
          let send = this.rfidTap;
          socket.emit('rfidSimulate', send);
          localStorage.setItem("rfidTap", JSON.stringify(send));
        },
        formatHour(hour) {
          // return 'test';
          let timestamp = Date.parse('January 19, 2020 ' + hour + ' UTC');
          timestamp = Math.floor(timestamp / 1000);
          console.log(timestamp);
          return format(timestamp, 'h:mma');
        },
        showStudentInClass(subjectId, index) {
          console.log(subjectId, index);
          this.listStudentsInSubject = true;
          this.currentSubjectList =
            `${this.subjects[index].name} (${this.subjects[index].room}) ${this.subjects[index].timeStart}-${this.subjects[index].timeEnd}`;


          axios
            .get('/api/subjects/' + subjectId)
            .then(response => {
              // const users = response.data.data;
              // this.currentUser = response.data;
              // this.isLoading = false;
              this.currentStudentsInSubject = response.data;
              // console.log(response);
              this.isLoading = false;


            })
            .catch(error => console.error(error));


        },
        saveSubjects() {

          this.isLoading = true;

          axios
            .put('/api/user/subjects', {
              id: this.currentUser.id,
              subjects: this.currentUser.subjects,
            })
            .then(response => {
              // const users = response.data.data;
              // this.currentUser = response.data;
              // this.isLoading = false;
              console.log(response);


              setTimeout(() => {
                this.isLoading = false;

              }, 500);


            })
            .catch(error => console.error(error));
        },
        toggleSubject(id) {
          console.log(id, this.currentUser.subjects);
          this.currentUser.subjects.push(id);
        },
        checkSubject(id) {
          if (this.currentUser.subjects.indexOf(id) >= 0) {
            return true;
          } else {
            return false;
          }
        },
        handleFileUpload() {

          this.newUser.image = this.$refs.file.files[0];
          this.newUser.imageSrc = URL.createObjectURL(event.target.files[0]);

        },
        handleFileUpload2() {

          this.currentUser.image = this.$refs.file.files[0];
          this.currentUser.imageSrc = URL.createObjectURL(event.target.files[0]);



          let formData = new FormData();

          formData.append('image', this.currentUser.image);
          formData.append('userId', this.currentUser.id);

          axios
            .post('/api/image',
              formData
            )
            .then(response => {

            })
            .catch(error => console.error(error));

        },
        addNewSubject() {

          axios
            .post('/api/subject/new', {
              newSubject: this.newSubject
            })
            .then(response => {


              if (response.data.msg === 'success') {
                this.subjects.unshift(this.newSubject);
                this.isLoading = true;
                setTimeout(() => {
                  this.isLoading = false;
                  this.errors = [];
                }, 500);
              } else {
                this.errors = response.data.errors;
              }
              console.log(response.data);
              // this.foundUsers = response.data;
              // this.currentUser = response.data;
              // this.isLoading = false;
            })
            .catch(error => console.error(error));

        },
        registerUser() {

          console.log('registerUser() called');

          axios
            .post('/api/user/new', {
              newUser: this.newUser
            })
            .then(response => {

              if (response.data.msg === 'success') {

                alert('Registration Successful');
                let formData = new FormData();
                this.newUser.image.userId = response.data.userId;
                formData.append('image', this.newUser.image);
                formData.append('userId', response.data.userId);
                formData.append('name', this.newUser.image.name);
                axios
                  .post('/api/image',
                    formData
                  )
                  .then(response => {

                    if (response.data.msg === 'success') {
                      alert('Registration Successful');
                    } else {
                      alert('Registration FAILED!');
                    }

                  })
                  .catch(error => console.error(error));


              } else {
                alert('Registration FAILED!');
              }

            })
            .catch(error => console.error(error));









        },
        validateRegister() {

          console.log('validation start');
          if (this.newUser.image &&
            this.newUser.rfidTag &&
            this.newUser.userId &&
            this.newUser.userType &&
            this.newUser.firstName &&
            this.newUser.middleName &&
            this.newUser.lastName &&
            this.newUser.course &&
            this.newUser.guardianName &&
            this.newUser.guardianNumber) {
            this.errors = [];
            console.log('valid infos. start registration');
            this.registerUser();
            return false;
          }
          console.log('errors found');

          this.errors = [];

          if (!this.newUser.rfidTag) {
            this.errors.push('RFID Tag is required.');
          }
          if (!this.newUser.image) {
            this.errors.push('Image is required.');
          }
          if (!this.newUser.userId) {
            this.errors.push('User ID is required.');
          }
          if (!this.newUser.userType) {
            this.errors.push('User Type is required.');
          }
          if (!this.newUser.firstName) {
            this.errors.push('First Name is required.');
          }
          if (!this.newUser.middleName) {
            this.errors.push('Middle Name is required.');
          }
          if (!this.newUser.lastName) {
            this.errors.push('Last Name is required.');
          }
          if (!this.newUser.course) {
            this.errors.push('Course is required.');
          }
          if (!this.newUser.guardianName) {
            this.errors.push('Guardian Name is required.');
          }
          if (!this.newUser.guardianNumber) {
            this.errors.push('Guardian Number is required.');
          }


        },
        setCurrentUser(index) {
          this.currentUser = this.foundUsers[index];
          this.currentUser.subjects = JSON.parse(this.currentUser.subjects);

          this.currentUser.imageSrc = `/images/users/${this.currentUser.id}.jpg?${Date.now()}`;
          this.currentRfidTag = this.currentUser.rfidTag;
        },
        userSearch() {

          if (this.timer) {
            clearTimeout(this.timer);
            this.timer = null;
          }

          this.timer = setTimeout(() => {
            console.log('run');
            axios
              .post('/api/user/search', {
                query: this.userQuery
              })
              .then(response => {
                console.log(response.data);
                this.foundUsers = response.data;
                // this.currentUser = response.data;
                // this.isLoading = false;
              })
              .catch(error => console.error(error));

          }, 500);

        },
        setPage(page) {
          this.page = page;
          localStorage.setItem("page", page);
        },
        changeData() {
          this.currentRfidTag = 'ambot';
        },
        authLogin() {
          if (this.loginEmail === 'admin' && this.loginPassword === 'admin') {
            this.isLoading = true;
            setTimeout(() => {
              this.isLoading = false;
              this.loginError = false;
              this.loggedIn = true;
              localStorage.setItem("loggedIn", "yes");
            }, 1000);

          } else {
            this.loginError = true;
          }

        },
        authLogout() {
          this.loggedIn = false;
          localStorage.removeItem("loggedIn");
        },
        saveUserData() {

          this.isLoading = true;

          axios
            .put('/api/user/' + this.currentRfidTag, this.currentUser)
            .then(response => {
              // const users = response.data.data;
              // this.currentUser = response.data;
              // this.isLoading = false;
              // console.log(response);
              this.isLoading = false;
              this.editUserMode = false;








            })
            .catch(error => console.error(error));
        },
        findUserData() {
          this.editUserMode = false;
          this.isLoading = true;
          console.log('find user with rfid tag: ' + this.currentRfidTag);
          axios
            .get('/api/user/' + this.currentRfidTag)
            .then(response => {
              // const users = response.data.data;
              if (response.data) {
                this.currentUser = response.data;
                this.currentUser.subjects = JSON.parse(this.currentUser.subjects);
                this.currentUser.imageSrc = `/images/users/${this.currentUser.id}.jpg`;

                this.isLoading = false;
              } else {
                alert("No user for this RFID tag.")
                this.isLoading = false;
                // this.currentUser.lastName = '';
              }



              // this.logs = response.data.logs;
              // console.log(`GET list users`, response.data.logs);
            })
            .catch(error => console.error(error));

        }
      },
      created() {
        var self = this;
        setInterval(function () {
          self.timeNow = Date.now()
          self.websocketsConnected = socket.connected;

        }, 1000)
      },
      mounted() {

        if (localStorage.getItem("loggedIn") === 'yes') {
          this.loggedIn = true;
        }

        if (localStorage.getItem("rfidTap")) {
          this.rfidTap = JSON.parse(localStorage.getItem("rfidTap"));
        }

        // localStorage.setItem("rfidTap", JSON.stringify(send));

        if (localStorage.getItem("page")) {
          this.page = localStorage.getItem("page");
        }


        axios
          .get('/api/subjects')
          .then(response => {
            // const users = response.data.data;
            this.subjects = response.data;
            // console.log(response.data.logs);
          })
          .catch(error => console.error(error));

        axios
          .get('/api/logs')
          .then(response => {
            // const users = response.data.data;
            this.logs = response.data.logs;
            // console.log(response.data.logs);
          })
          .catch(error => console.error(error));

        // Make a request for a user with a given ID
      },
      computed: {

        currentTag() {
          return this.currentRfidTag;
        },
        canEditUser() {
          if (this.currentUser.lastName && this.currentRfidTag.length > 0 && this.currentUser.lastName.length > 0) {

            return true;
          } else {
            return false;
          }
        },
        formattedTime() {
          return new Date(this.timeNow).format('D M j, Y - g:i:sa')

        },

      },
    });

    // Websockets
    function openWebsocket() {

      // if (vm.websocketsConnected === false) {
      //   if ('WebSocket' in window) {
      //     ws = new WebSocket('ws://localhost:8080');
      //     ws.onopen = function () {
      //       console.log('connecting websocket');
      //       vm.websocketsConnected = true;
      //     };

      //     ws.onmessage = function (msg) {
      //       console.log(msg);
      //       var msgSplit = msg.data.split(':');
      //       vm.currentRfidTag = msgSplit[0];

      //       if (vm.page === 'users') {

      //         if (vm.editRfidMode === false) {
      //           vm.findUserData();
      //         } else {
      //           vm.currentUser.rfidTag = msgSplit[0];
      //           vm.editRfidMode = false;

      //           // console.log('find user with rfid tag: ' + this.currentRfidTag);
      //           axios
      //             .put('/api/user/' + vm.currentUser.rfidTag + '/rfid', {
      //               old: vm.currentUser.rfidTag,
      //               new: msgSplit[0]
      //             })
      //             .then(response => {
      //               // const users = response.data.data;

      //               console.log(response.data);
      //               // this.logs = response.data.logs;
      //               // console.log(`GET list users`, response.data.logs);
      //             })
      //             .catch(error => console.error(error));


      //         }

      //       }
      //       // vm.saveUserData();

      //       vm.logs.unshift({
      //         rfidTag: msgSplit[0],
      //         classroom: msgSplit[1],
      //         time: msgSplit[2],
      //       });
      //     };

      //     ws.onclose = function () {
      //       // alert('Connection is closed. Please Refresh Page...');
      //       // console.log('Websocket closed');
      //       vm.websocketsConnected = false;
      //     };


      //   } else {
      //     // The browser doesn't support WebSocket
      //     // this.websocketsConnected = false;
      //     alert('WebSocket NOT supported by your Browser!');
      //   }
      // } else {
      //   // console.log('already connected');
      // }

    }

  </script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
</body>

</html>
